/*-----------------BACKGROUND IMAGE START----------*/
body {
		overflow-x: hidden;
		background: url(Pildid/VEKTOR01_1.png) no-repeat top center fixed; /* taustapildi lisamine */
		background-size: cover;
		width: 100%;
		height: 100%;
		font-size: 18px;
	}
/*-----------------BACKGROUND IMAGE END----------*/
/*-----------------WHITE BACKGROUND BOX START----*/
	#wrapper {
		width: 80%;
		height: 100%;
		min-height: 800px;
		margin: 0 -9999rem;
		margin-top: 30px;
		background: rgba(255, 255, 255, 0.95);
		padding: 0.25rem 9999rem;
		border-radius: 2px;
		z-index: -1;

	}

	/*-----------------WHITE BACKGROUND BOX END------*/
	/*-----------------SLOGAN START------*/
		p.slogan{
			font-size: 30px;
			font-family: 'Open Sans Condensed', sans-serif;
			letter-spacing: 2px;
			margin-top: 40px;
			margin-bottom: 40px;
			text-align: center;
			font-weight: 300;
			color: white;

			}
	/*-----------------SLOGAN END--------*/
	/*-----------------HEADER START------------------*/

	img#logo {
		padding-right: 10px;
		float: left;
		margin-bottom: 10px;
		position: fixed;
		top: 5px;
		margin-left: 5px;
		z-index: 0;

}

	/*-----------------HEADER END------------------*/
	/*-----------------MENU START------------------*/
	/* Remove margins and padding from the list, and add a background color */
 ul.topnav {
		 list-style-type: none;
		 padding: 0;
		 overflow: hidden;
		 position: fixed;
		 width: 100%;
		 z-index: 1;
		 top: 0px;
		 margin-left: 220px;

		}

 /* Float the list items side by side */
 ul.topnav li {
	 	float: left;
		border-radius: 3px;
		font-family: 'Fjalla One', sans-serif;
		font-size: 22px;
		letter-spacing: 2px;
		line-height: 30px;
		text-align: center;
		width: 17%;
		max-width: 500px;
		display: inline-block;
 }

 /* Style the links inside the list items */
 ul.topnav li a {
	 display: block;
	 padding: 4px 4px;
	 color: white;
	 text-decoration: none;
	 background: rgba(153, 153, 153, 0.70);
 }

 /* Change background color of links on hover */
 ul.topnav li a:hover {
	 transition: all 0.45s;
	 border-style: dotted;
	 border-width: thin;
	 background-color: #555;
	 color: #00e6e6;
 }

 /* Hide the list item that contains the link that should open and close the topnav on small screens */
 ul.topnav li.icon {display: none;}


	/*-----------------MENU END------------------*/

	/*-----------------CONTENT START------------------*/

		.textBIG {
			color: #999999;
			font-family: 'PT Sans Narrow';
			font-size: 18px;
			text-align: justify;
			margin-right: 30px;
		}

		h1 {
			color: #00cccc;
			font-family: 'Nixie One', cursive;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: 3px;
			line-height: 30px;
			margin: 10px;
			text-align: left;
			text-transform: uppercase;
		}

		h2 {
			color: #00cccc;
			font-family: 'Fjalla One', sans-serif;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 3px;
			line-height: 30px;
			margin-left: 10px;
			margin-bottom: 10px;
			text-align: left;
			text-transform: uppercase;
		}

		p, option {
			color: #999999;
			font-family: 'PT Sans Narrow';
			font-size: 16px;
			margin-left: 20px;
		}

		hr {
			color: #999999;
			width: 95%;
		}

		.clearfix {clear: both;}
		/*-----------------CONTENT END------------------*/
		/*----2-colums-layout----*/

			.left {
				float: left;
				width: 45%;
			}

			.right {
				float: right;
				width: 45%;

			}

		/*----2-colums-layout----*/
		/*-------GALLERY START-------*/

			.thumbnails img {
				height: 60px;
				border: 0px solid #555;
				padding: 1px;
				margin: 1px 1px 1px 1px;
				display: inline-block;
			}

			.thumbnails img:hover {
				border: 1px solid #00ccff;
				cursor: pointer;
			}

			.preview img {
				border: 0px solid #444;
				padding: 1px;
				max-height: 600px;
				max-width: 96%;
				display: block;
		    margin: auto;
				opacity: 1;
		}

			.preview {
					border: 0px solid #444;
					padding: 1px;
					max-height: 600px;
					max-width: 96%;
					display: block;
					margin: auto;

			}

		/*-------GALLERY END-------*/
		/*-------TABLE START-------*/

				table {
				    width:100%;
						max-width: 500px;
						color: #999999;
						font-family: 'PT Sans Narrow';
						font-size: 16px;
						text-align: justify;
						margin-right: 5px;
				}
				table, th, td {
				    border: 1px solid black;
				    border-collapse: collapse;
				}
				th, td {
				    padding: 5px;
				    text-align: left;
				}
				table#t01 tr:nth-child(even) {
				    background-color: #eee;
				}
				table#t01 tr:nth-child(odd) {
				   background-color:#fff;
				}
				table#t01 th {
				    background-color: #e6005c;
				    color: white;
				}

		/*-------TABLE END-------*/
		/*----MEDIA QUERIES----*/

		/*----Tablet----*/
		@media screen and (max-width: 768px) {

			ul.topnav li {
				font-size: 18px;
				width: auto;
			}

			ul.topnav li a {
		 	 display: block;
		 	 padding: 4px 4px;
		 }


			p.slogan{
				font-size: 24px;
				letter-spacing: 2px;
				line-height: 24px;
				margin-top: 25px;
				text-align: center;
				}

			.left {
				float: left;
				width: 45%;
			}

			.right {
				float: right;
				width: 45%;
			}
			.leftarrow {
				float: left;
				width: 45%;
			}

			.rightarrow {
				float: right;
				width: 45%;
			}

			h1.link {
				float: left;
				display: block;
			}


			#preview img {
				max-width: 96%;
				opacity: 1;
			}
		}
		@media screen and (max-width: 550px) {
			ul.topnav li {
				font-size: 14px;
				width: auto;
			}

			}

		/* When the screen is less than 480 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
	 @media screen and (max-width:480px) {
		 #wrapper {
	 		width: 100%;
	 	}

		 p.slogan{
			 font-size: 18px;
			 letter-spacing: 2px;
			 line-height: 20px;
			 text-align: center;
			 }

		 ul.topnav li:not(:first-child) {display: none;}
		 ul.topnav li.icon {
			 float: right;
			 display: inline-block;
			 margin-right: 9px;
		 }

		 ul.topnav {
			 margin-left: 0;
			 margin-top: 60px;
			 display: inline;
			 width: 100%;
		 }

		 ul.topnav li.icon {
			 margin-left: 0;
			 margin-top: 0px;
			 display: inline;
		 }



	 }

	 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
	 @media screen and (max-width:480px) {
		 ul.topnav.responsive {
			 position: fixed;
			 margin-top: 60px;
			 margin-left: 0;
			 width: 100%;
		 }

		 ul.topnav.responsive li.icon {
			 position: absolute;
			 right: 0;
			 top: 0;
		 }
		 ul.topnav.responsive li {
			 float: none;
			 display: inline;
		 }
		 ul.topnav.responsive li a {
			 display: block;
			 text-align: left;
			 margin-left: 8px;

		 }

		 p.textBIG {
			 width: 90%;
			 text-align: justify;
			 margin: 0 auto;
			 margin-top: 10px;
		 }

		 .left, .right {
		 	display: block;
		 			float: none;
		 			width: auto;
		 	}

	 }

/*
		@media screen and (max-width: 480px) {



			#wrapper {
				width: 100%;
			}

			.left, .right {
				display: block;
		        float: none;
		        width: auto;
		    }

			p.textBIG {
				width: 90%;
				text-align: justify;
				margin: 0 auto;
				margin-top: 10px;
			}

			p.slogan{
				font-size: 16px;
				line-height: 22px;
				margin-top: 0px;
				letter-spacing: 1px;

				}

		}

		*/
